

.grid-item {
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: bold;
  position: relative;
}

.dragger {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  cursor: grab;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.452);
  border-radius: 10%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  color: red;
}

.dragger:hover {
    filter: brightness(1.25);
}