.banner-preview {
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-upload {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
}
