.login-container {
  align-items: center;
  height: 85%;
  position: relative;
}

.logged-out {
  justify-content: center;
}

.action-buttons-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.action-buttons-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.profile-overview-container {
  padding-top: 20px;
  padding-inline: 20px;
}

.profile-overview {
  gap: 50px;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .profile-overview {
    flex-direction: column;
    align-items: center;
  }
}
