.login-container {
  margin-top: 40px;
  align-items: center;
  height: 80%;
  position: relative;
}

.logged-out {
  justify-content: center;
}

.action-buttons-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.action-buttons-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.profile-overview-container {
  padding-top: 20px;
}

.profile-overview {
  gap: 50px;
  align-items: flex-start;
}
