
html, body, #root { 
    height: 100%; 
    margin: 0; 
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-off-white);
}
   
.app {
    min-height: 100dvh;
    width: 100vw;
    display:  flex;
}

.container {
  height: 100%;
  width: 100%;
}


.loading-container {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: white;
}

.Footer {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.grid-container {
  height: calc(100vh - 250px);
  width: 100%;
}
