*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-off-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
}

.grid-container {
  margin: 0 auto;
  padding: 1rem;
}

.zoom-controls {
  position: fixed;
  right: 1rem;
  top: 40%;
  z-index: 1000;
  padding: 0.5rem;
}

.loading-container {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: white;
}
