.resize-handle {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 10;
  transition: opacity 0.3s ease;
  border: 1px solid var(--color-standard-blue);
  border-radius: 8px;
}

.resize-handle.corner {
  width: 10px;
  height: 10px;
}

.resize-handle.edge {
  width: 0.5px;
  height: 0.5px;
}

.resize-handle.edge::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid var(--color-standard-blue);
}

.resize-handle.right {
  right: 0;
  top: 0;
  cursor: ew-resize;
  height: 100%;
  transform: none;
}

.resize-handle.left {
  left: 0;
  top: 0;
  cursor: ew-resize;
  height: 100%;
  transform: none;
}

.resize-handle.bottom {
  bottom: 0;
  left: 0;
  cursor: ns-resize;
  width: 100%;
  transform: none;
}

.resize-handle.top {
  top: 0;
  left: 0;
  cursor: ns-resize;
  width: 100%;
  transform: none;
}

.resize-handle.right::after,
.resize-handle.left::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resize-handle.top::after,
.resize-handle.bottom::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resize-handle.top-left {
  top: 0;
  left: 0;
  cursor: nw-resize;
}

.resize-handle.top-right {
  top: 0;
  right: 0;
  cursor: ne-resize;
}

.resize-handle.bottom-left {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}

.resize-handle.bottom-right {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.resize-handle.top-left,
.resize-handle.top-right,
.resize-handle.bottom-left,
.resize-handle.bottom-right {
  z-index: 12;
}
