.edit-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.edit-widget-content {
  display: flex;
  width: 100%;
  max-height: 90%;
  min-height: 70%;
  gap: 3rem;
}

.edit-widget-content-item {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media (max-width: 900px) {
  .edit-widget-content {
    flex-direction: column;
  }
}
