.edit-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.edit-widget-content {
  display: flex;
  width: 100%;
  gap: 3rem;
}

.edit-widget-content-item {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.edit-widget-content::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 70%;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
