.edit-widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.edit-widget-content {
  display: flex;
  width: 100%;
  max-height: 90%;
  gap: 3rem;
}

.edit-widget-content-item {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

@media (max-width: 900px) {
  .edit-widget-content {
    flex-direction: column;
  }
}
