.bus-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border: 1px solid;
  border-radius: 10%;
  padding: 5px;
}

.public {
  font-size: larger;
}

@media only screen and (max-width: 750px) {
  .public {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.public-header {
  padding: 3px 0;
}

.general-time {
  color: var(--color-off-white);
}

.bad-time {
  color: var(--color-standard-red);
}

.medium-time {
  color: var(--color-standard-yellow);
}

.good-time {
  color: var(--color-standard-green);
}
