.popup-container{
    height: 100%;
}

.popup {
  position: fixed;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.795);
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 9999;
  font-size: 14px;
  color: black;
}

