.bus-card {
  border-top: none;
  border-bottom: 3px solid rgba(248, 248, 248, 0.611);
  border-left: none;
  border-right: none;
  background-color: #f5d4b5ff;
  border-radius: 0px;
}

.public {
  font-size: larger;
}

@media only screen and (max-width: 750px) {
  .public {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.public-header {
  padding: 3px 0;
}

.general-time {
  color: var(--color-off-white);
}

.bad-time {
  color: firebrick;
}

.medium-time {
  color: rgb(255, 145, 101);
}

.good-time {
  color: rgb(57, 187, 115);
}
