.home-buttons-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 5px 0 5px 0;
    height: 40px;
}


.home-icon-container {
    border-right: 2px solid var(--color-off-white);
    padding-right: 15px;
    justify-content: center;
    align-items: center;
}