.news-container {
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.news-items-wrapper {
  flex: 1;
  min-height: 0;
  overflow-y: hidden;
}

.news-text {
  text-overflow: hidden;
  width: 100%;
}

.news-img-container {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
