.news-item {
    display: flex;
    gap: 10px;
    padding: 5px;
}


.news-text {
    flex: 1;
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-img-container {
    flex: 0 0 40px;    
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}