.news-container {
  height: 100%;
  min-height: 0;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.news-text {
  text-overflow: hidden;
  width: 100%;
  pointer-events: none;
}

.news-img-container {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
