.electricity-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.consumption-cards {
  align-items: stretch;
  flex-shrink: 0;
  padding-bottom: 5px;
}

.consumption-card {
  flex: 1;
  border-bottom: 2px solid;
  align-items: center;
  padding-bottom: 4px;
}

.level-header {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bold;
}

.bar-chart-container {
  flex: 1;
  min-height: 0;
}

.electricity-widget {
  width: 100%;
  height: 100%;
  position: relative;
}
