.consumption-cards {
  align-items: stretch;
}

.consumption-card {
  flex: 1;
  border-bottom: 2px solid;
  align-items: center;
  padding-bottom: 4px;
}

.level-header {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bold;
}
