.electricity-container {
  width: 100%;
}

.consumption-cards {
  align-items: stretch;
}

.consumption-card {
  flex: 1;
  border-bottom: 2px solid;
  align-items: center;
  padding-bottom: 4px;
}

.level-header {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bold;
}

.electricity-widget {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
