.header-container {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--color-off-white);
  border-radius: 8px;
  box-shadow: 1px 2.5px 5px black;
  overflow: hidden;
}

.header-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 22, 2, 0.534);
  border-radius: 8px;
  z-index: 1;
}

.header-content-container {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 10px 0 10px;
}

.header-content-container > *:nth-child(odd) {
  justify-self: start;
}

.header-content-container > *:nth-child(even) {
  justify-self: end;
}
