.image-circle-container {
  position: relative;
  display: flex;
}

.icon-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 30%);
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-circle {
  background-color: var(--color-widget-background);
  color: var(--color-off-white);
}
