.login-container {
  align-items: center;
  position: relative;
  padding: 20px;
  flex: 1;
  width: 100%;
}

.logged-out {
  justify-content: center;
}

.profile-overview-container {
  padding-inline: 20px;
}

.profile-overview {
  gap: 50px;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .profile-overview {
    flex-direction: column;
    align-items: center;
  }
}
