.login-container {
  align-items: center;
  min-height: 85%;
  position: relative;
  padding: 20px;
}

.logged-out {
  justify-content: center;
}

.action-buttons {
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.profile-overview-container {
  padding-inline: 20px;
}

.profile-overview {
  gap: 50px;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .profile-overview {
    flex-direction: column;
    align-items: center;
  }
}
