.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  transition: width 0.25s ease;
  background: var(--color-off-white);
}

.sidebar.edit-mode {
  width: 260px;
  border-right: 2px solid rgba(136, 118, 118, 0.611);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  transition: width 0.25s ease;
  height: 100%;
  gap: 10px;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 10px;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
}

.widget-menu-row {
  display: flex;
  background-color: var(--color-widget-background);
  border-radius: 10px;
  border: 1px solid rgba(136, 118, 118, 0.611);
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 10px;
  font-weight: bold;
}

.widget-menu-row.item {
  display: flex;
}

.friendly-display {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.friendly-display-item {
  display: flex;
}

.widget-action-buttons {
  display: flex;
  gap: 5px;
}
.icon {
  display: flex;
}

.icon:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.sidebar-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-widget-background);
  cursor: pointer;
}
