.city-bikes-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.map {
    height: 250px; 
    width: 100%;
    border-radius: 10%;
    border: 2px solid var(--color-off-white);
    margin: 10px;
}

.map-component {
    overflow: visible;
    border-radius: 10%;
    height: 250px;
    width: 100%;
}


.bike-label-icon {
  background: url("../../../public/img/city-bike/bicycle-parking.png") center/contain no-repeat;
}

.home-label-icon {
  background: url("../../../public/img/city-bike/home.png") center/contain no-repeat;
}

.bike-label {
  position: relative;
  top: -20px;
  font-size: 14px;
  color: black;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 153, 241, 0.6);
  border-radius: 25%;
}

.empty {
    color: var(--color-standard-red);
    background-color: rgba(255, 255, 255, 0.6);

}

.city-bikes-container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-icon {
    margin-top: 2px;
    height: 30px;
    width: 30px;
}