.home-button {
    background-color: var(--color-off-white);
    display: flex;
    cursor: pointer;
    transition: transform 0.1s ease;
    box-shadow: .5px .5px 2px black;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    
}

.home-button:active {
  transform: scale(.85);
}