

.sidebar {
  width: 0;
}

.sidebar.edit-mode {
  width: 260px;
  background: var(--color-off-white);
  border-right: 2px solid rgba(136, 118, 118, 0.611);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  transition: width 0.25s ease;
  height: 100%;
  gap: 10px;
}

.widget-menu-row {
    display: flex;
    background-color: var(--color-widget-background);
    border-radius: 10px;
    border: 1px solid rgba(136, 118, 118, 0.611);
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 10px;
    font-weight: bold;
}

.widget-menu-row:hover {
  filter: brightness(1.15);   
  cursor: pointer;            
}


.widget-menu-row.item {
    display: flex;
}

.widget-menu-row.button {

}