.busstider-header {
  color: var(--color-off-white);
  border-top: none;
  border-bottom: 3px solid var(--color-off-white);
  border-left: none;
  border-right: none;
  overflow: hidden;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.public-icon {
  padding-right: 8px;
}