.calender-container {
  margin: 5px 0 5px 0;
}

.main-item {
  border-bottom: 3px solid var(--color-off-white);
}

.main-item-date {
  font-weight: 500;
  font-size: medium;
}

.main-item-summary {
  font-weight: bold;
  font-size: large;
}

.date-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar-calender {
  margin-left: auto;
}

.content-container {
  margin: 0px 5px 0px 5px;
}

.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
