.travel-config {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto 1fr auto;
  align-items: center;
  justify-content: center;
  width: 90%;

  /* background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.travel-header {
  font-weight: bold;
}

.travel-action-button:hover {
  cursor: pointer;
  filter: brightness(1.15);
  transform: scale(1.15);
}

.travel-input {
  width: 100%;
}
