.header-style {
  position: relative;
  background-image: url("../../../public/img/header/mohlenpris.jpg");
  background-size: cover;
  background-position: center;
  color: var(--color-off-white);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--color-off-white);
  box-shadow: 1px 2.5px 5px black;

}

.header-style::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 156, 129, 0.5);
  border-radius: 10px;
  z-index: 1;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
}

.header-column {
  margin: 5px;
}

.header-text {
  margin: 0px 20px 0px 20px;
  position: relative;
  z-index: 10;
}

.header-text-clock {
  text-align: right;
}

.avatars {
  display: flex;
  justify-content: flex-end; /* aligns items to the left */
}

.avatar {
  margin-left: 10px;
}
@media only screen and (max-width: 750px) {
  .header-text,
  .header-text-clock {
    text-align: center;
  }

  .header-row {
    display: block;
  }

  .header-column {
    flex: none;
    width: 100%;
  }
}
