.header-container {
  position: relative;
  background-size: cover;
  background-position: center;
  color: var(--color-off-white);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--color-off-white);
  box-shadow: 1px 2.5px 5px black;
  min-height: 6rem;
}

.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 22, 2, 0.534);
  border-radius: 10px;
  z-index: 1;
}

.header-content-container {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 10px 0 10px;
}

.header-content-container > *:nth-child(odd) {
  justify-self: start;
}

.header-content-container > *:nth-child(even) {
  justify-self: end;
}
