.header-container {
  position: relative;
  background-image: url("../../../public/img/header/mohlenpris.jpg");
  background-size: cover;
  background-position: center;
  color: var(--color-off-white);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px solid var(--color-off-white);
  box-shadow: 1px 2.5px 5px black;

}

.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 22, 2, 0.534);
  border-radius: 10px;
  z-index: 1;
}

.header-content-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.header-row {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.header-row-item {
  flex: 1;                  
  display: flex;
  align-items: center;
}

.header-row-item.left {
  justify-content: flex-start; 
  text-align: left;
}

.header-row-item.right {
  justify-content: flex-end;  
  text-align: right;
}


.avatars {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-avatar {
  display: flex;
}