.swimming-result {
  padding: 5px;
}

button.selected {
  border-color: var(--color-standard-blue);
}

.swimming-results {
  min-width: 150px;
  max-height: 150px;
  overflow-y: auto;
  padding: 5px;
}
