.widget-container {
    border: 3px solid var(--color-off-white);
    padding: 5px;
    border-radius: 8px;
    background-color: var(--color-widget-background);
    box-shadow: 1px 2.5px 5px black;
}

.widget-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.widget-title-icon {
  width: 15px;
  height: 15px;
}