.widget-container,
.widget-container-no-bg {
  border-radius: 8px;
  box-shadow: 1px 2px 4px black;
  overflow: hidden;
  color: var(--color-off-white) !important;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.widget-container {
  padding: 5px;
  background-color: var(--color-widget-background);
}

.widget-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.widget-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}

.widget-title-icon {
  width: 15px;
  height: 15px;
}
