.layout-templates {
  position: relative;
  flex: 1;
}

.layout-square {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: var(--color-off-white);
  background-image: url("../../../../public/img/layout/DefaultLayout.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.layout-square:hover {
  border: solid var(--color-standard-blue);
}

.layout-square.selected {
  border: solid var(--color-standard-blue);
}

.action-buttons-layout {
  position: absolute;
  right: 0;
  bottom: 0;
}
